<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.huihongcloud.mapper.Device_Injection_maintanceEntityMapper" >
  <resultMap id="BaseResultMap" type="cn.huihongcloud.entity.Device_Injection_maintanceEntity" >
    <constructor >
      <arg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="device_Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="serial" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="region" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="submit_date" jdbcType="TIMESTAMP" javaType="java.lang.String" />
      <arg column="batch" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="work_content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="injection_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="WoodStatus" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Pic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Worker" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="scanId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="altitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dataPrecision" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="town" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="cn.huihongcloud.entity.Device_Injection_maintanceEntity" >
    insert into Device_Injection_maintance (id, device_Id, serial, 
      region, submit_date, batch, 
      longitude, latitude, work_content, 
      injection_num, WoodStatus, Pic, 
      Worker, Remarks, scanId,username,altitude,dataPrecision,province,city,area,town
      )
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, #{serial,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{submitDate,jdbcType=TIMESTAMP}, #{batch,jdbcType=INTEGER}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{workContent,jdbcType=VARCHAR}, 
      #{injectionNum,jdbcType=INTEGER}, #{woodstatus,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{worker,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{scanid,jdbcType=BIGINT}, #{username.jdbcType=VARCHAR}
      ,#{altitude,jdbcType=VARCHAR},#{dataPrecision,jdbcType=VARCHAR},#{province,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR},#{town,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.huihongcloud.entity.Device_Injection_maintanceEntity" >
    insert into Device_Injection_maintance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_Id,
      </if>
      <if test="serial != null" >
        serial,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="submitDate != null" >
        submit_date,
      </if>
      <if test="batch != null" >
        batch,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="workContent != null" >
        work_content,
      </if>
      <if test="injectionNum != null" >
        injection_num,
      </if>
      <if test="woodstatus != null" >
        WoodStatus,
      </if>
      <if test="pic != null" >
        Pic,
      </if>
      <if test="worker != null" >
        Worker,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="scanid != null" >
        scanId,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="altitude != null" >
        altitude,
      </if>
      <if test="dataPrecision != null" >
        dataPrecision,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="town != null" >
        town
      </if>



    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="submitDate != null" >
        #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="batch != null" >
        #{batch,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="workContent != null" >
        #{workContent,jdbcType=VARCHAR},
      </if>
      <if test="injectionNum != null" >
        #{injectionNum,jdbcType=INTEGER},
      </if>
      <if test="woodstatus != null" >
        #{woodstatus,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="worker != null" >
        #{worker,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="scanid != null" >
        #{scanid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="altitude != null" >
        #{altitude,jdbcType=VARCHAR},
      </if>
      <if test="dataPrecision != null" >
        #{dataPrecision,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="town != null" >
        #{town,jdbcType=VARCHAR},
      </if>


    </trim>
  </insert>
  <update id="reportData">
        update Device_Injection_maintance
        set reported = 1
        where id = #{id}
  </update>

  <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM Device_Injection_maintance WHERE id = #{id};
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
      select * from Device_Injection_maintance WHERE username = #{username} LIMIT #{page1},#{page2};
    </select>

  <select id="CountAll" resultType="java.lang.Integer">
    select count(id) from Device_Injection_maintance WHERE username = #{username};
  </select>

    <select id="queryDeviceSummaryByArea" resultType="cn.huihongcloud.entity.summary.InjectionSummary">
      select count(distinct device_id) deviceCount, sum(injection_num) injectNum, device.town `name`, device.adcode code
      from Device_Injection_maintance
      left join device on Device_Injection_maintance.device_Id = device.id
      where adcode like concat(#{adcode}, '%')
      and device.town is not null
      and device.project = '注干剂监测'
      <if test="startDate != null and startDate !=''">
        and submit_Date &gt;= #{startDate}
      </if>
      <if test="endDate != null and endDate !=''">
        and submit_Date &lt;= #{endDate}
      </if>
      group by device.town
    </select>

  <select id="getMaintenanceDataByAdcodeAndTownArea" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select Device_Injection_maintance.id,
    Device_Injection_maintance.device_Id,
    Device_Injection_maintance.batch,
    sum(Device_Injection_maintance.injection_num) injection_num,
    Device_Injection_maintance.Worker,
    user.name,
    Device_Injection_maintance.submit_date,
    Device_Injection_maintance.longitude,
    Device_Injection_maintance.latitude,
    Device_Injection_maintance.altitude,
    Device_Injection_maintance.Pic,
    Device_Injection_maintance.Remarks,
    device.province,
    device.city,
    device.area,
    device.town,
    Device_Injection_maintance.work_content,
    Device_Injection_maintance.username,
    Device_Injection_maintance.WoodStatus
    from Device_Injection_maintance
    left join device on device.id = Device_Injection_maintance.device_Id
    left join user on Device_Injection_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition !='null'">
      and (
      user.username = #{condition} or
      device.province = #{condition} or
      device.city = #{condition} or
      device.area =  #{condition} or
      device.town = #{condition} or
      Device_Injection_maintance.device_Id = #{condition} or
      device.manager=#{condition}
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>

    <if test="endDate != null and endDate != '' and endDate !='null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    group by device_Id,Device_Injection_maintance.Worker

    order by submit_date desc

  </select>

  <select id="getMaintenanceDataByManagerArea" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select Device_Injection_maintance.id,
    Device_Injection_maintance.device_Id,
    Device_Injection_maintance.batch,
    sum(Device_Injection_maintance.injection_num) injection_num,
    Device_Injection_maintance.Worker,
    user.name,
    Device_Injection_maintance.submit_date,
    Device_Injection_maintance.longitude,
    Device_Injection_maintance.latitude,
    Device_Injection_maintance.altitude,
    Device_Injection_maintance.Pic,
    Device_Injection_maintance.Remarks,
    device.province,
    device.city,
    device.area,
    device.town,
    Device_Injection_maintance.work_content,
    Device_Injection_maintance.WoodStatus,
    Device_Injection_maintance.username
    from Device_Injection_maintance
    left join device on device.id = Device_Injection_maintance.device_Id
    left join user on Device_Injection_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition != 'null'">
      and (
      user.username =#{condition} or
      device.province =#{condition} or
      device.city = #{condition} or
      device.area =#{condition} or
      device.town = #{condition} or
      Device_Injection_maintance.device_Id = #{condition}
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>

    <if test="endDate != null and endDate != '' and endDate!= 'null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="manager != null">
      and manager = #{manager}
    </if>

    group by device_Id,Device_Injection_maintance.Worker
    order by submit_date desc
  </select>
  <select id="getMaintenanceDataByDeviceId" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select * from Device_Injection_maintance
    where device_Id = #{deviceId}

    <if test="myusername != null and myusername !=''">
      and username = #{myusername}
    </if>
    <if test="startDate != null and startDate !='' and startDate != 'null 00:00:00'">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate !='' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
  </select>

  <select id="queryDeviceSummaryByManager" resultType="cn.huihongcloud.entity.summary.InjectionSummary">
    select count(distinct device_Id) deviceCount, sum(injection_num) injectNum, device.manager `name`, device.adcode code
    from Device_Injection_maintance
    left join device on Device_Injection_maintance.device_Id = device.id
    where device.adcode like concat(#{adcode}, '%')

    and device.manager is not null
    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>
    group by device.manager
  </select>

    <select id="getMaintenanceDataByAdcodeAndTown1"
            resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
      select Device_Injection_maintance.id,
      Device_Injection_maintance.device_Id,
      Device_Injection_maintance.batch,
      Device_Injection_maintance.injection_num,
      Device_Injection_maintance.username,
      user.name,
      Device_Injection_maintance.submit_date,
      Device_Injection_maintance.longitude,
      Device_Injection_maintance.latitude,
      Device_Injection_maintance.altitude,
      Device_Injection_maintance.Pic,
      Device_Injection_maintance.scanId,
      Device_Injection_maintance.Remarks,
      device.province,
      device.city,
      device.area,
      device.town,
      Device_Injection_maintance.work_content,
      Device_Injection_maintance.reported
      from Device_Injection_maintance
      left join device on device.id = Device_Injection_maintance.device_Id
      left join user on Device_Injection_maintance.username = user.username
      where device_Id in
      (select id from device where
      1 = 1
      <if test="adcode != null and adcode != ''">
        and
        adcode like concat(#{adcode}, '%')
      </if>

      <if test="town != null and town != ''">
        and
        town = #{town}
      </if>
      )
      <if test="condition != null and condition != '' and condition !='null'">
        and (
        user.username like concat('%', #{condition}, '%') or
        device.province like concat('%', #{condition}, '%') or
        device.city like concat('%', #{condition}, '%') or
        device.area like concat('%', #{condition}, '%') or
        device.town like concat('%', #{condition}, '%') or
        user.username like concat('%', #{condition}, '%') or
        user.name like concat('%', #{condition}, '%') or
        Device_Injection_maintance.device_Id like concat('%', #{condition}, '%')

        )
      </if>
      <if test="batch != null and batch != '' and batch !='null'">
        and `batch` = #{batch}
      </if>
      <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
        and submit_date &gt;= #{date}
      </if>
      <if test="searchtown != null and searchtown != '' and searchtown !='null'">
        and device.town like concat('%', #{searchtown}, '%')
      </if>
      <if test="endDate != null and endDate != '' and endDate !='null' and endDate!= 'null 23:59:59'">
        and submit_date &lt;= #{endDate}
      </if>
      <if test="reported != null and reported != ''">
        and reported = #{reported}
      </if>

      order by submit_date desc
    </select>

  <select id="getMaintenanceDataByManager1" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select Device_Injection_maintance.id,
    Device_Injection_maintance.device_Id,
    Device_Injection_maintance.batch,
    Device_Injection_maintance.injection_num,
    Device_Injection_maintance.work_content,
    Device_Injection_maintance.WoodStatus,
    Device_Injection_maintance.username,
    user.name,
    Device_Injection_maintance.submit_date,
    Device_Injection_maintance.longitude,
    Device_Injection_maintance.latitude,
    Device_Injection_maintance.altitude,
    Device_Injection_maintance.Pic,
    Device_Injection_maintance.scanId,
    Device_Injection_maintance.Remarks,
    device.province,
    device.city,
    device.area,
    device.town,
    Device_Injection_maintance.region,
    Device_Injection_maintance.reported
    from Device_Injection_maintance
    left join device on device.id = Device_Injection_maintance.device_Id
    left join user on Device_Injection_maintance.username = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition != 'null'">
      and (
      user.username like concat('%', #{condition}, '%') or
      device.province like concat('%', #{condition}, '%') or
      device.city like concat('%', #{condition}, '%') or
      device.area like concat('%', #{condition}, '%') or
      device.town like concat('%', #{condition}, '%') or
      user.username like concat('%', #{condition}, '%') or
      user.name like concat('%', #{condition}, '%') or
      Device_Injection_maintance.device_Id like concat('%', #{condition}, '%')
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>
    <if test="batch != null and batch != '' and batch !='null'">
      and `batch` = #{batch}
    </if>
    <if test="searchtown != null and searchtown != '' and searchtown !='null'">
      and device.town like concat('%', #{searchtown}, '%')
    </if>
    <if test="endDate != null and endDate != '' and endDate!= 'null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="manager != null">
      and manager = #{manager}
    </if>

    order by submit_date desc
  </select>

</mapper>